rules_version = "2";
service cloud.firestore {
  match /databases/{database}/documents {

    function signedInAndUpdatedUser() {
      return request.auth.uid != null && request.auth.uid == resource.data.userId;
    }

    function signedIn() {
      return request.auth.uid != null;
    }

    match /categories/{categoryId}/codes/{codeId} {
      allow read: if true;
      allow update, delete: if signedInAndUpdatedUser();
      allow create: if signedIn();
    }

    match /codes/{codeId}/examples/{exampleId} {
      allow read: if true;
      allow create, update, delete: if signedIn();
    }
  }
}